.header-text {
  background-color: var(--white-color);
  width: 100%;
  padding: 15px 0;
  p {
    color: var(--black-color);
    font-size: medium;
    text-align: center;
    margin-bottom: 0;
  }
}
